<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>

@model app.ViewModel.Home.ProjectVM

<style>
    .fa-trash-o {
        opacity: 0.5;
    }

        .fa-trash-o:hover {
            opacity: 1;
        }

    tr:hover {
        cursor: pointer;
    }
</style>

@section Scripts {
    <script type="text/javascript">
        // process the form
        $('form').submit(function (event) {

            // get the form data
            // there are many ways to get this data using jQuery (you can use the class or id also)
            var formData = $(this).serialize();

            // process the form
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: '/Project/SaveProject', // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true
            })
                // using the done promise callback
                .done(function (data) {
                    if (data.code == "200") {
                        alert(data.msg);
                        location.href = '/Project/Index';
                    }
                }).fail(function () {
                    alert("request failed.");
                });

            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });

        // Set Page Title N(New Page) E(Edit Page)
        var pageType = "@ViewBag.PageType";
        if (pageType == "N") {
            $("#title").html("New Project");
            $("#submitBtn").html("New");
            $("#status").prop("disabled", true);
            $("#description").prop("disabled", false);
        }
        else if (pageType == "E") {
            $("#title").html("Edit Project");
            $("#submitBtn").html("Edit");
            $("input").prop("disabled", false);
            $("#description").prop("disabled", false);
        }

        // Set Project Members Table
        $('#ProjectMemberTable').DataTable({
            bProcessing: true,
            sAjaxSource: "/Project/GetProjectMember?projectId=" + @Model.Id,
            aoColumns: [
                 { bSortable: false, },
                 { bSortable: false, },
                 { bSortable: false, },
                 { bSortable: false, },
                 {
                     bSortable: false,
                     mRender: function (o) { return '<i class="fa fa-trash-o fa-lg"></i>'; }
                 }
            ]
        });

        // Delete Project Member
        $('#ProjectMemberTable tbody').on('click', '.fa-trash-o', function () {
            var id =  $(this).parent().parent().find("td:first").text();
            // ajax call to delete record
            var result = confirm("Are you sure?");
            if (result) {
            }
        });

        // button handler to add project members
        $("#ProjectMemberPopup").hide();
        $("#btnOpenProjectMemberPopup").click(function(){
            $("#ProjectMemberPopup").show();
            $( "#ProjectMemberPopup").dialog({
                resizable: false,
                width:700,
                height:500
            });
            // Set Project Members Table
            if ( !$.fn.dataTable.isDataTable( '#ProjectMemberPopupTable' ) ) {
                SetAddProjectMemberTable()
            }
        });

        function SetAddProjectMemberTable()
        {
            // role drop down list
            var roleDropDownList = '<select class="form-control" id="RoleDropDownList" name="RoleDropDownList"><option value="">--Select role</option>';
            var optionTags = new Array();
            var roleArray = @Html.Raw(Json.Encode(@ViewBag.RoleDropDownList));
            for(var i =0; i<roleArray.length;i++){
                var option = '<option value="' + roleArray[i].Value + '">' + roleArray[i].Text + '</option>';
                roleDropDownList += option;
            }
            roleDropDownList += '</select>';

            $('#ProjectMemberPopupTable').DataTable({
                bProcessing: true,
                sAjaxSource: "/Project/GetAllUsers",
                aoColumns: [
                     { bSortable: false, },
                     { bSortable: false, },
                     { bSortable: false, },
                     {
                         bSortable: false,
                         mRender: function (o) { return roleDropDownList; }
                     },
                     {
                         bSortable: false,
                         mRender: function (o) { return '<div class="checkbox"><label><input type="checkbox"> add</label></div>'; }
                     }
                ]
            });
        }

    </script>
}

<h2 id="title"></h2>
<br />
<br />
<!-- Project Detail -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-chevron-right"></i>&nbsp; Project Detail</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div>
                <input type="hidden" name="Id" id="Id" value="@Model.Id">
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" name="Name" id="Name" placeholder="Project Name" value="@Model.Name">
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                    @Html.DropDownList("StatusDropDownList", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-2 control-label">Source Repository</label>
                <div class="col-sm-10">
                    <input class="form-control" name="SourceRespository" id="SourceRespository" placeholder="Source Repository" value="@Model.SourceRespository">
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-2 control-label">Released Version</label>
                <div class="col-sm-10">
                    <input class="form-control" name="ReleasedVersion" id="ReleasedVersion" placeholder="Released Version" value="@Model.ReleasedVersion">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea name="Description" id="Description" class="form-control" rows="3">@Model.Description</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submitBtn" type="submit" class="btn btn-success"></button>
                    <a href="/Project/Index" id="backBtn" class="btn btn-default"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<!-- Project Member -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i>&nbsp; Project Members</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <table id="ProjectMemberTable" class="display">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Dept</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button id="btnOpenProjectMemberPopup" class="btn btn-success">Add Member</button>
                <a href="/Project/Index" id="backBtn" class="btn btn-default"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>
</div>
<!-- Project Member Popup -->
<div id="ProjectMemberPopup" title="Add Project Member">
    <table id="ProjectMemberPopupTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Dept</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button id="btnOpenProjectMemberPopup" class="btn btn-success">Save</button>
</div>
<br />